<div class="systemInfo sidebar-item-inner">
  <div class="sidebar-row sidebar-divide">
      <h3 class="sidebar-divide-inner">
          <i class="fa fa-wrench"></i>
          {{t 'app.systemInfoSidebarHeading'}}
      </h3>
  </div>
</div>
